<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@ViewData["Title"] - Minishop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/animate.css" asp-append-version="true">
    
    <link rel="stylesheet" href="/css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/magnific-popup.css" asp-append-version="true">

    <link rel="stylesheet" href="/css/aos.css" asp-append-version="true">

    <link rel="stylesheet" href="/css/ionicons.min.css" asp-append-version="true">

    <link rel="stylesheet" href="/css/bootstrap-datepicker.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/jquery.timepicker.css" asp-append-version="true">

    <link rel="stylesheet" href="/css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/icomoon.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/style.css" asp-append-version="true">
    @await RenderSectionAsync("Styles", required: false)
  </head>
  <body class="goto-here">
    <partial name="_HeaderPartial" />

    @RenderBody()

    <partial name="_FooterPartial" />

    <script src="/js/jquery.min.js" asp-append-version="true"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js" asp-append-version="true"></script>
    <script src="/js/popper.min.js" asp-append-version="true"></script>
    <script src="/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="/js/jquery.easing.1.3.js" asp-append-version="true"></script>
    <script src="/js/jquery.waypoints.min.js" asp-append-version="true"></script>
    <script src="/js/jquery.stellar.min.js" asp-append-version="true"></script>
    <script src="/js/owl.carousel.min.js" asp-append-version="true"></script>
    <script src="/js/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script src="/js/aos.js" asp-append-version="true"></script>
    <script src="/js/jquery.animateNumber.min.js" asp-append-version="true"></script>
    <script src="/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="/js/scrollax.min.js" asp-append-version="true"></script>
    <script src="/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>