<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Cozy Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/png" href="/images/icons/favicon.png" asp-append-version="true"/>
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/fonts/linearicons-v1.0.0/icon-font.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css" asp-append-version="true">    
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css" asp-append-version="true">
    <link class="js-animsition-link" rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css" asp-append-version="true">    
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/vendor/slick/slick.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/vendor/MagnificPopup/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/vendor/perfect-scrollbar/perfect-scrollbar.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/css/util.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="/css/main.css" asp-append-version="true">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="animsition">

    <partial name="_HeaderPartial" />

    @RenderBody()

    <partial name="_FooterPartial" />

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Common Scripts -->
    <script src="/vendor/jquery/jquery-3.2.1.min.js" asp-append-version="true"></script>
    <script src="/vendor/animsition/js/animsition.min.js" asp-append-version="true"></script>
    <script src="/vendor/bootstrap/js/popper.js" asp-append-version="true"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="/vendor/select2/select2.min.js" asp-append-version="true"></script>
    <script>
        $(".js-select2").each(function(){
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })
    </script>
    <script src="/vendor/daterangepicker/moment.min.js" asp-append-version="true"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js" asp-append-version="true"></script>
    <script src="/vendor/slick/slick.min.js" asp-append-version="true"></script>
    <script src="/js/slick-custom.js" asp-append-version="true"></script>
    <script src="/vendor/parallax100/parallax100.js" asp-append-version="true"></script>
    <script>
        if (typeof $('.parallax100').parallax100 === 'function') {
            $('.parallax100').parallax100();
        }
    </script>
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js" asp-append-version="true"></script>
    <script>
        $('.gallery-lb').each(function() {
            $(this).magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled:true
                },
                mainClass: 'mfp-fade'
            });
        });
    </script>
    <script src="/vendor/isotope/isotope.pkgd.min.js" asp-append-version="true"></script>
    <script src="/vendor/sweetalert/sweetalert.min.js" asp-append-version="true"></script>
    <script>
        $('.js-addwish-b2').on('click', function(e){
            e.preventDefault();
        });

        $('.js-addwish-b2').each(function(){
            var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");
                $(this).addClass('js-addedwish-b2');
                $(this).off('click');
            });
        });

        $('.js-addwish-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to wishlist !", "success");
                $(this).addClass('js-addedwish-detail');
                $(this).off('click');
            });
        });

        $('.js-addcart-detail').each(function(){
            var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
            $(this).on('click', function(){
                swal(nameProduct, "is added to cart !", "success");
            });
        });
    </script>
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js" asp-append-version="true"></script>
    <script>
        $('.js-pscroll').each(function(){
            $(this).css('position','relative');
            $(this).css('overflow','hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function(){
                ps.update();
            })
        });
    </script>
    <script src="/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>